@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

.limited-offer-bg {
    height: 550px;
    background: linear-gradient(45deg, black, grey);
    padding: 80px 100px;
}

.limited-offer-tagline p {
    line-height: 30px;
    font-weight: 500;
    color: #00FF66;
    margin: 0;
}

.limited-offer-title {
    margin: 30px 0;
}

.limited-offer-title p {
    width: 580px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.day-container,
.hour-container,
.min-container,
.sec-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.day,
.hour,
.min,
.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 50px;
    font-weight: 700;
}

.day p,
.hour p,
.min p,
.sec p {
    margin: 0;
    color: black;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

/* products cards */

.category-class .slick-list .slick-track .slick-slide div {
    width: 260px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.7s;
    border: 1px solid #808080;
}

.category-class .slick-list .slick-track .slick-slide div:hover {
    background-color: #DB4444;
    color: white;
}

.products-class .slick-list .slick-track .slick-slide div {
    width: 260px;
    cursor: pointer;
    transition: 0.7s;
    position: relative;
}

.products-class .slick-list .slick-track .slick-slide div.label {
    padding: 12px 4px;
    color: white;
    font-size: 16px;
    background-color: #DB4444;
    position: absolute;
    width: 75px;
    border-radius: 10px;
    top: 14px;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-class .slick-list .slick-track .slick-slide div.view {
    padding: 12px 4px;
    color: white;
    font-size: 16px;
    background-color: #ffffff;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-class .slick-list .slick-track .slick-slide div.like {
    padding: 12px 4px;
    color: white;
    font-size: 16px;
    background-color: #ffffff;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 78px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-class .slick-list .slick-track .slick-slide div:hover {
    filter: brightness(60%);
}

.slider-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
}

.prevArrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    background: whitesmoke;
    border-radius: 6px;
    margin-bottom: 30px;
}

.nextArrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 70px;
    width: 60px;
    height: 50px;
    background: whitesmoke;
    border-radius: 6px;
    margin-bottom: 30px;
}